<h1>ТОП по прибыли с товара {{good.name}}</h1>
<table class="table-striped">
    <thead>
    <th>Игрок</th>
    <th>Прибыль</th>
    <th>Куплено</th>
    <th>Продано</th>
    </thead>
{{#each data}}
    <tr>
<td>{{this.player.username}}</td>
<td>{{this.profit}}</td>
<td>{{this.bought}}</td>
<td>{{this.sold}}</td>
    </tr>
{{/each}}
</table>