<h1>Статистика рабочих</h1>
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.bundle.min.js" type="text/javascript"></script>

<h2>Среднее и медианное</h2>
<canvas id="myChart" width="400" height="200"></canvas>
<script>
    var ctx = document.getElementById('myChart');
    var myChart = new Chart(ctx, {
        type: 'line',
        data: {
            labels: {{{ labels }}},
    datasets: [
        {
            label: "Average workers",
            data: {{{ average }}},
        borderColor: "red"
        }, {
            label: "Median workers",
            data: {{{ median }}},
        borderColor: "blue"
        },
    ]
    }
});
</script>

<h2>Всего</h2>
<canvas id="myChart2" width="400" height="200"></canvas>
<script>
    var ctx = document.getElementById('myChart2');
    var myChart = new Chart(ctx, {
        type: 'line',
        data: {
            labels: {{{ labels }}},
    datasets: [
        {
            label: "Total workers",
            data: {{ total }}
        }]
    }
});
</script>