<h1>Markets</h1>
<img class="headimage" src="/images/worldmap.png">
{{#each markets}}
<div style='background-image:url("{{this.image}}");' class="center headimage"></div>
<h3>{{this.id}} {{this.name}} <a href="{{@root.baseUrl}}/move/{{this.id}}">Поехать</a></h3>
{{/each}}