<h1>Сделка {{data.id}} with {{data.anotherPlayerName}}</h1>

<img class="center" width="100" src="/images/arrows.png">

<div class="row">
<div class="col-lg-6 col-sm-12">
<h2>You offer {{#if confirmOwn}}(confirmed){{/if}}</h2>
<ul>
{{#each owngoods}}
<li>{{this.[0].id}} {{this.[0].name}}: {{this.[1]}}
    <a class="btn btn-negative" href="{{@root.baseUrl}}/{{@root.data.id}}/remove/{{this.[0].id}}">x</a></li>
{{/each}}
</ul>
</div>
<div class="col-lg-6 col-sm-12">

<h2>His offer {{#if confirmHis}}(confirmed){{/if}}</h2>
<ul>
{{#each hisgoods}}
<li>{{this.[0].id}} {{this.[0].name}}: {{this.[1]}}</li>
{{/each}}
</ul>
</div>
</div>

<a class="btn btn-primary" href="{{baseUrl}}/{{data.id}}/confirm">Confirm</a>
<a class="btn btn-positive" href="{{baseUrl}}/{{data.id}}/commit">Commit</a>
<a class="btn btn-negative" href="{{baseUrl}}/{{data.id}}/revert">Revert</a>

<div class="row">
<div class="col-sm-12 col-md-6">
<h2>Add goods to offer</h2>
<form action="{{baseUrl}}/{{data.id}}" method="POST" enctype="application/x-www-form-urlencoded">
    <div class="form-group clearfix">
        <label for="goodId">ID товара</label>
        <input readonly name="goodId" type="text" class="form-control" id="goodId1" placeholder="0" required>
    </div>
    {{> goodselector inputId='goodId1'}}
    <div class="form-group clearfix">
        <label for="amount">Количество</label>
        <input name="amount" type="text" class="form-control" id="amount" placeholder="0" required>
    </div>
    <button type="submit" class="btn btn-positive">Добавить</button>
</form>
</div>
</div>