<h1>Открытые сделки</h1>
{{#unless data}}
Пока нет открытых сделок.
{{/unless}}
<ul>
{{#each data}}
<li>
        <a href="{{@root.baseUrl}}/{{this.id}}">{{this.id}} с {{this.anotherPlayerName}}</a>
</li>
{{/each}}
</ul>

<div class="row">
<div class="col-sm-12 col-md-6">
<h2>Открыть сделку</h2>
<form action="{{baseUrl}}/new" method="POST" enctype="application/x-www-form-urlencoded">
    <div class="form-group clearfix">
        <label for="username">Username</label>
        <input name="username" type="text" class="form-control" id="username" placeholder="..." required>
    </div>
    <button type="submit" class="btn btn-positive">Новая сделка</button>
</form>
</div>
</div>