<script>
    $(document).ready(function () {
        var id = null;
        $("#{{inputId}}selector li").each(function (i, elem) {
            $(elem).click(onClick);
        })

        function onClick() {
            id = $(this).attr("id");
            $("#{{inputId}}").val(id);
            $("#{{inputId}}selector li").each(function (i, elem) {
                $(elem).removeClass("selected");
            });
            $(this).addClass("selected");
        }
    });
</script>
<ul class="selector" id="{{inputId}}selector">
    {{#each goods}}
    <li id="{{this.id}}">{{this.name}}</li>
    {{/each}}
</ul>