<script>
    $(document).ready(function () {
        var id = null;
        $("#{{inputId}}selector td").each(function (i, elem) {
            $(elem).click(onClick);
        })

        function onClick() {
            id = $(this).attr("id");
            $("#{{inputId}}").val(id);
            $("#{{inputId}}selector td").each(function (i, elem) {
                $(elem).removeClass("selected");
            });
            $(this).addClass("selected");
        }
    });
</script>

<div class="selectorcontainer">
<table id="{{inputId}}selector">
    <thead>
        <th>Название</th>
        <th>Название</th>
        <th>Название</th>
    </thead>
    {{#each goods}}
    {{#if (changerow this.i)}}</tr><tr>{{/if}}
        <td id="{{this.id}}">{{this.name}} ({{this.id}})</td>
    {{/each}}
</table>
</div>