<div class="playerbottom clearfix"><span>{{player.username}}</span> <i class="card-icon fas fa-chevron-down"></i></div>
<script>
    $(".playerbottom").click(function () {
        $("#playercard").toggle();
    })
</script>

<div class="nav-group" id="playercard" style="display: none;">
    <div class="card-body">
        <h3 class="card-title">{{player.username}}</h3>
        <p class="card-text">
            Cash: {{mycash}} {{currency}}<br>
            Total employeed in factories: {{playerfactoryworkers}}<br>
            Total employeed in RGOs: {{playerrgoworkers}}
        </p>
    </div>
</div>