<h1>Ваши мануфактуры</h1>
<script src="/js/factories.js"></script>
{{#unless data}}
У вас пока нет мануфактур.
{{/unless}}
{{#each data}}
<div class="card">
    <div class="card-body">
        <h3>{{this.id}}</h3>
        <p class="card-text">
            Уровень: {{this.level}}. Сотрудников: {{this.employeesCount}} / {{this.targetEmployees}}. Лимит сотрудников (от уровня): {{this.maxWorkers}}. Зарплата: {{this.salary}}
        </p>
        <div>
            <a href="javascript:workersButton({{this.id}});" class="btn btn-primary">Изменить число сотрудников</a>
            <a href="javascript:salaryButton({{this.id}});" class="btn btn-primary">Изменить зарплату</a>
            <a href="/factory/{{this.id}}/queue" class="btn btn-primary">Очередь производства</a>
            <a href="/factory/{{this.id}}/upgrade" class="btn btn-positive">Улучшить</a>
            <a href="javascript:deleteconfirm('/factory/{{this.id}}/delete')" class="btn btn-negative">Удалить</a>
        </div>

        <div id="workerspanel-{{this.id}}" class="d-none">
            <form action="/factory/{{this.id}}/workers" method="POST" enctype="application/x-www-form-urlencoded">
                <div class="form-group clearfix">
                    <label for="workers">Рабочих</label>
                    <input name="workers" type="text" class="form-control" id="workers" placeholder="Рабочих..."
                        value="{{this.targetEmployees}}" required>
                </div>
                <button type="submit" class="btn btn-primary">Сохранить</button>
            </form>
        </div>
        <div id="salarypanel-{{this.id}}" class="d-none">
            <form action="/factory/{{this.id}}/salary" method="POST" enctype="application/x-www-form-urlencoded">
                <div class="form-group clearfix">
                    <label for="salary">Зарплата</label>
                    <input name="salary" type="text" class="form-control" id="salary" placeholder="Зарплата..."
                        value="{{this.salary}}" required>
                </div>
                <button type="submit" class="btn btn-primary">Сохранить</button>
            </form>
        </div>
    </div>
</div>
{{/each}}

<a href="/factory/build" class="btn btn-positive">Построить</a>