<h1>Рецепты</h1>
<p>Рецепты используются на мануфактурах для производства товаров из сырья.</p>
<table class="table">
    <thead>
    <th>ID рецепта</th>
    <th>Сырье</th>
    <th>Продукты</th>
    <th>Рабочих для выполнения</th>
    <th>Инструменты</th>
    </thead>
{{#each data}}
    <tr>
<td>{{this.id}}</td>
<td>{{this.requisites}}</td>
<td>{{this.results}}</td>
<td>{{this.workers}}</td>
<td>
    {{#if this.instrument}}
    {{this.instrument}} ({{this.chance}}%)
    {{/if}}
    </td>
    </tr>

{{/each}}

</table>