<h2>Типы добычи</h2>
<div style="overflow-x:auto;">
<table class="table">
    <thead>
    <th>ID</th>
    <th>Добыча</th>
    <th>Регион</th>
    <th>Добывает</th>
    <th>Рабочих</th>
    <th>Построено</th>
    <th>Ресурсы для строительства</th>
    <th>Инструменты</th>
    </thead>
{{#each data}}
    <tr>
<td>{{this.id}}</td>
<td>{{this.name}}</td>
<td>{{this.market}}</td>
<td>{{this.makes}}</td>
<td>{{this.workers}}</td>
<td>{{this.already}} / {{this.maxamount}}</td>
<td>{{this.resources}}</td>
<td>
    {{#if this.instrument}}
    {{this.instrument}} ({{this.chance}}%)
    {{/if}}
    </td>
    </tr>

{{/each}}

</table>
</div>